//================== ШРИФТ ===================//

//=================== ЦВЕТ ===================//
$green: #00BD5B;
$light_grey: #C4D3DB;
//============== ОБЩИЕ НАСТРОЙКИ =============//
* {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}
//=============== ОСНОВНОЙ КОД ===============//

//================== HEADER ==================//
#header {
	.header_top {
		background-color: #fff;
		padding: 20px 0;

		.logo_block {
			display: inline-block;

			.logo {
				float: left;
				height: 60px;
			}
			.logo_text {
				text-transform: uppercase;
				font-size: 36px;
				font-weight: bold;
				display: inline-block;
				margin-top: 5px;
				margin-left: 20px;
				color: #000;
			}
		}
		ul {
			margin-left: 40px;
			margin-top: 20px;

			li {
				margin: 0 20px;
				padding: 0;

				a {
					padding: 0 0 10px;
					margin: 0;
					color: #000;

					&:hover {
						background-color: transparent;
						border-bottom: 2px solid $green;
					}
				}
			}
		}
		form {
			position: relative;
			margin: 0;
			padding: 0;

			input {
				margin-top: 5px;
				margin-bottom: 5px;
				padding: 5px 45px 5px 20px;
				width: 340px;
				height: 50px;
				border: none;
				border-radius: 30px;
				background-color: rgba(0,0,0,.2);
				color: #fff;
			}
			::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				color: #fff;
			}
			::-moz-placeholder { /* Firefox 19+ */
				color: #fff;
			}
			.search_icon {
				position: absolute;
				top: 13px;
				left: 297px;
				color: #fff;
				cursor: pointer;
			}
			.button {
				width: 180px;
				height: 50px;
				background-color: $green;
				color: #fff;
				font-weight: bold;
				border: 2px solid $green;
				border-radius: 30px;
				margin-left: 10px;
				transition: all 0.3s ease-in-out;

				&:hover {
					background-color: transparent;
					border: 2px solid $green;
					color: $green;
				}
			}
		}
	}
	// =============== CONTENT =============== //
	.header_content {
		background: url(../images/bg_header.png);
		-webkit-background-size: cover;
		background-size: cover;
		padding-bottom: 100px;

		h1 {
			font-size: 36px;
			color: $green;
			margin-top: 270px;
			margin-bottom: 30px;
		}
		p {
			font-size: 24px;
			color: #fff;
		}
		.header_button_block {
			text-align: center;
			margin-top: 30px;

			.button_left,.button_right {
				background-color: $green;
				color: #fff;
				border: none;
				border-radius: 30px;
				width: 260px;
				height: 50px;
				margin-right: 80px;
				transition: all 0.3s ease-in-out;

				&:hover {
					background-color: transparent;
					border: 2px solid $green;
				}
			}
		}
		.form {
			max-width: 380px;
			background-color: rgba(255,255,255,.5);
			padding: 35px 20px;
			margin-top: 120px;
			text-align: center;
			border-radius: 20px;

			h3 {
				color: $green;
				font-size: 24px;
				border-bottom: 1px solid #000;
				padding-bottom: 10px;
				margin-top: 0;
				margin-bottom: 25px;
			}
			input {
				padding: 5px 20px;
				margin-bottom: 25px;
				width: 100%;
				height: 50px;
				border: none;
				border-radius: 30px;
				background-color: rgba(0,0,0,.2);
				color: #fff;
			}
			::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				color: #fff;
			}
			::-moz-placeholder { /* Firefox 19+ */
				color: #fff;
			}
			.button_form {
				width: 180px;
				height: 50px;
				color: #fff;
				background-color: $green;
				border-radius: 30px;
				border: none;
				transition: all 0.3s ease-in-out;

				&:hover {
					background-color: transparent;
					border: 2px solid $green;
					color: $green;
				}
			}
		}
	}
}
//=================== CITY ===================//
#city {
	position: relative;
	overflow: hidden;
	padding: 70px 0;

	&:before {
		content: "";
		position: absolute;
		width: 200%;
		height: 105%;
		top: -13%;
		left: -50%;
		z-index: -1;
		background-color: #00BD5B;
		-webkit-transform: rotate(-15deg);
		-moz-transform: rotate(-15deg);
		-ms-transform: rotate(-15deg);
		-o-transform: rotate(-15deg);
		transform: rotate(-3deg);
	}

	h2 {
		color: #fff;
		text-align: center;
		margin-bottom: 30px;
	}
	.city_block {
		margin: 35px 0;

		.img_city_1 {
			height: 170px;
			float: left;
			margin-right: 15px;
			margin-bottom: 15px;
		}
		.img_city_2 {
			height: 170px;
			float: right;
			margin-left: 15px;
			margin-bottom: 15px;
		}
		p {
			color: #fff;
		}
	}
}
//================= STATISTIC ================//
#statistic {
	padding: 50px 0;

	h2 {
		color: $green;
		margin-bottom: 50px;
		text-align: center;
	}

	.statistic_block {
		border: 1px solid $light_grey;
		border-radius: 20px;
		padding: 20px;

		img {
			width: 100%;
		}

		.statistic_text {
			text-align: center;
			margin-top: 20px;
			font-size: 24px;
		}
	}
}
//================== PROJECT =================//
#project {
	padding: 50px 0 10px;

	h2 {
		color: $green;
		margin-bottom: 50px;
		text-align: center;
	}

	.project_block {
		border: 1px solid $light_grey;
		border-radius: 20px;
		padding: 20px;

		img {
			width: 120px;
			height: 120px;
			margin: 0 auto;
			display: block;
		}
		p {
			text-align: justify;
			margin-top: 20px;
		}
	}
}
//=================== TARIF ==================//
#tarif {
	position: relative;
	overflow: hidden;
	padding: 70px 0;

	&:before {
		content: "";
		position: absolute;
		width: 200%;
		height: 83%;
		top: 10%;
		left: -50%;
		z-index: -1;
		background-color: $light_grey;
		-webkit-transform: rotate(-15deg);
		-moz-transform: rotate(-15deg);
		-ms-transform: rotate(-15deg);
		-o-transform: rotate(-15deg);
		transform: rotate(-3deg);
	}
	h2 {
		color: $green;
		margin-top: 70px;
		margin-bottom: 50px;
		text-align: center;
	}
	table {
		margin: 0 auto;

		thead {
			tr {
				th {
					width: 245px;
					height: 50px;
					background-color: $green;
					color: #fff;
					border: 1px solid $light_grey;
					padding: 5px;
					text-align: center;
				}
			}
		}
		tbody {
			tr {
				th {
					width: 245px;
					height: 50px;
					border: 1px solid $light_grey;
					padding: 5px;
					background-color: #fff;
					color: #000;
					text-align: center;
				}
				th.active {
					background-color: #FFF000;
				}
			}
		}
		.border_top_left {
			border-top-left-radius: 20px;
		}
		.border_top_right {
			border-top-right-radius: 20px;
		}
		.border_bottom_left {
			border-bottom-left-radius: 20px;
		}
		.border_bottom_right {
			border-bottom-right-radius: 20px;
		}
	}
	.button_tarif {
		width: 300px;
		height: 50px;
		font-size: 24px;
		color: #fff;
		background-color: $green;
		border-radius: 30px;
		border: none;
		margin: 70px auto;
		display: block;
		transition: all 0.3s ease-in-out;

		&:hover {
			background-color: transparent;
			border: 2px solid $green;
			color: $green;
		}
	}
}
//=================== FOOTER =================//
#footer {
	background: url(../images/bg_footer.png);
	-webkit-background-size: cover;
	background-size: cover;
	padding: 120px 0 50px;
	margin-top: -110px;

	.logo_block {
		display: inline-block;

		.logo {
			float: left;
			height: 60px;
		}
		.logo_text {
			text-transform: uppercase;
			font-size: 36px;
			font-weight: bold;
			display: inline-block;
			margin-top: 5px;
			margin-left: 20px;
			color: #fff;
		}
	}
	.copy {
		color: #fff;
		margin-top: 45px;
		margin-bottom: 0;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			margin: 15px 0;
			padding: 0;

			a {
				color: #fff;
				font-size: 18px;
			}
		}
	}
	.soc_block {
		a {
			background-color: #fff;
			display: inline-block;
			margin-right: 20px;
			margin-bottom: 20px;
			border: 2px solid #fff;
			transition: all 0.3s ease-in-out;

			i {
				color: $green;
				display: table-cell;
				vertical-align: middle;
				text-align: center;
				height: 80px;
				width: 80px;
				transition: all 0.3s ease-in-out;

				&:hover {
					color: #fff;
				}
			}
			&:hover {
				background-color: transparent;
				border: 2px solid #fff;
				text-decoration: none;
			}
		}
	}
}

@media only screen and (max-width: 1200px) {
	#header {
		.header_top {
			form {
				input {
					width: 240px;
				}
				.search_icon {
					left: 200px;
				}
				.button {
					width: 90px;
				}
			}
		}
		.header_content {
			.header_button_block {
				.button_left,.button_right {
					margin-right: 20px;
				}
			}
		}
	}
	#footer {
		.logo_block {
			.logo_text {
				font-size: 30px;
				margin-top: 15px;
			}
		}
	}
}

@media only screen and (max-width: 991px) {
	#header {
		.header_top {
			.container {
				width: 100%;
				padding: 0 10px;

				.logo_block {
					margin-top: 8px;

					.logo {
						height: 45px;
					}
					.logo_text {
						font-size: 30px;
					}
				}
				ul {
					margin: 23px 0 0;

					li {
						margin: 0 10px;
					}
				}
				form {
					position: relative;
					padding: 0;
					margin-top: 5px;

					input {
						width: 180px;
						height: 40px;
					}
					.search_icon {
						top: 8px;
						left: 140px;
					}
					.button {
						width: 80px;
						height: 40px;
					}
				}
			}
		}
		.header_content {
			.header_button_block {
				.button_left,.button_right {
					margin-right: 20px;
				}
			}
			.form {
				margin: 60px auto 0;
			}
		}
	}
	#statistic {
		.statistic_block {
			margin-bottom: 15px;
		}
	}
	#project {
		.project_block {
			margin-bottom: 15px;
		}
	}
	#tarif {
		&:before {
			height: 90%;
		}
	}
	#footer {
		text-align: center;

		.copy {
			margin-top: 10px;
			margin-left: 30px;
			margin-bottom: 20px;
			display: inline-block;
		}
		.soc_block {
			margin-top: 30px;
		}
	}
}

@media only screen and (max-width: 767px) {
	#header {
		.header_top {
			.container {
				.navbar-header {
					margin-left: 0;
					margin-right: 0;
				}
				.logo_block {
					margin-top: 8px;

					.logo {
						height: 45px;
					}
					.logo_text {
						font-size: 30px;
					}
				}
				.button_desktop {
					color: #000;
					margin-right: 0;
				}
				ul {
					margin: 10px;

					li {
						margin: 15px 0;
						padding: 0;

						a {
							padding: 0;
							margin: 0;
							color: #000;

							&:hover {
								border-bottom: none;
							}
						}
					}
					li.active:after {
						display: none;
					}
				}

			}
		}
		.header_content {
			.header_button_block {

				.button_left,.button_right {
					margin-bottom: 20px;
					margin-right: 0;
				}
			}
			.form {
				margin: 30px auto;
			}
		}
	}
	#city {
		&:before {
			height: 110%;
		}
	}
}

@media only screen and (max-width: 470px) {
	#statistic {
		.statistic_block {
			.statistic_text {
				font-size: 16px;
			}
		}
	}
}

//=================== ADMIN ==================//
@import "_admin.scss";
//================= ZAPOROZHIE ===============//
@import "_zaporozhie.scss";
















